#SOs
Thumbs.db
*~
._*
.DS_Store

#IDEs
nbproject
/.idea

#Vagrant
/.vagrant
/Vagrantfile.local

#Phing
/build.properties.local

#Project
/bin/behat
/bin/phpspec
/bin/phing
/bin/php-cs-fixer
/htdocs
/tmp
/vendor
/composer.lock
/dev/tools/vendor
/dev/tools/bin
/dev/tools/composer.lock

/bin/magento-composer-installer.php
/bin/validate-json