#SOs
Thumbs.db
*~
._*
.DS_Store

#IDEs
nbproject
/.idea

#Vagrant
/.vagrant
/Vagrantfile.local

#Phing
/build.properties.local

#Project
/bin/behat
/bin/phpspec
/bin/phing
/htdocs
/tmp
/vendor
/composer.lock
/dev/tools/vendor
/dev/tools/bin
/dev/tools/composer.lock